// VARIABLES: Media Query
$xl:         1080px !default;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}


@include media-query($xl) {



	//////////////	//////////////	//////////////	//////////////	//////////////	//////////////	//////////////
	//////////////	//////////////	//////////////	// ESSAYS //	//////////////	//////////////	//////////////
	//////////////	//////////////	//////////////	//////////////	//////////////	//////////////	//////////////



	// ESSAYS -> ESSAY-CONTENT //

  
	.essay {
		.section-content {
			max-width: 93%; //640px
		}
		p, blockquote, ol li {
			max-width: 91%; //550px
		}
	


		// ESSAY -> SECTION-DARK // 


		.section-content-dark {
			figure {width: 100%;}
			p {max-width: 45%;}
		}



		// ESSAY -> NOTICE //


		.notice {
			ul.list-inline {
				margin-left: 7%;
			}
		} // .notice


		
		// ESSAY -> POST-SCRIPT //


		.ps p {font-size: 90%;}
		.ps-light, .ps-dark {max-width: 45%;}


		
		// ESSAY -> FOOTNOTES //
		

		.fn-txt {max-width: 100%;
			ol li:before {margin-top: 0.1em;}
		} // .fn-txt



		// ESSAY -> CUSTOM MAX-WIDTH //


		// Callout -> deck
		#deck-mission     {max-width: 76%;} //80
		#deck-about       {max-width: 78%;} //81
		#deck-revolutions {max-width: 94%;}

		// Figcaption -> mission
		#cap10 {max-width: 30%;}

	} // .essay

} // xl