// VARIABLES
:root {
	//Typography
	--reg-w: 400;
	--med-w: 600;

	// Colors
	//// Black ////
	--xx-black: #0d0d0d; // dark-section bg
	--x-black: #111; // bolded, headings

	--xm-black: #222; // footnote return-top, button
	--m-black: #272727; // footnote return-top

	--l-black: #333; // cta-link, ps-dark, essay-nav-border
	--xl-black: #444; // dark-section credits, button:hover, essay-nav-border-bottom

	//// Main ////
	--m-gray: #555; // text color
	--m-blue: #03549b; // link color
	--xx-white: #fff; // background color

	//// Silver ////
	--xxx-silver: #898989; // dark-section content
	--xx-silver: #aaa; // ps-light
	--x-silver: #bbb; // credits, h4.subhead, ps-light

	--xm-silver: #cfcfcf; // callout, essay-nav-no-js
	--m-silver: #ddd; // border

	--l-silver: #eee; // footnote-link
	--xl-silver: #e7e7e7; // footnote-hover, essay-nav sticky-btn

	//// Accent ////
	--m-accent: #805e03; // news, teaser
	--vl-accent: #f6f6f6; // notice

	// Full width margin
	--nil: 0; // top-bottom
	--full-wid: -50%; // left-right
}